# Node.js layihələri üçün node_modules qovluğu
node_modules/

# Tailwind CSS layihənizdə çıxış faylları üçün (dist və ya build qovluqları)
dist/
build/

# Kompile olunmuş CSS faylları (əgər onları Git depoya əlavə etmək istəmirsinizsə)
assets/css/*.css

# Cache faylları
.cache/